footer#files {
    text-align: center;
    margin: 1.1em;

    .container {
        border: 4px dotted #006973;
        max-width: 60ch;

       

         a:not(:last-child) {
            margin: 1px;
            color: #499da7;
            border: 1px solid;
            //border-radius: 8px;
        }

       

       
    }

    .link-codepen {
        display: block;
        margin-top: 1em;
        color: blue;
    }

    [class^=link]:not(.link-codepen) {
        
        background-color: #ffffff;
        display: inline-flex;
        min-height: 2em;
        align-items: center;
        padding: 6px;
    }
}


footer.page-footer {
    padding: 3em 1em;
    background-color: #006973;
    color: #ffffff;

   
    .container {
        width: 100%;
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;

        a {
            color: #ffffff;
            text-decoration: underline;
        }

        p {
            text-align:center;

        }

        p:first-child {
            
            font-weight: bold;
        }

        p:nth-last-child(1) {
            color: var(--color-anchor);
        }

       

        ul {

            padding: 0;
            display: flex;
            list-style: none;
            justify-content: center;

            li {
                padding: 2px;
                margin-left: 12px;
            }

          
        }
    }
}