.profile {

    width: 95vw;
    max-width: 80ch;
    margin: 1rem auto 9vh;


    .container {
        text-align:center;

        h4#profile-title {

            color: #02484e

        } 
    }

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding:0;
    }

    li {
        padding: 0.45em;

        span:nth-child(1) {
            font-weight: bold;
            color: #36454f;
        }
    }

    a:nth-child(3)  {
        //padding: .4em 0.75em;
        //border: 1px solid #499da7;
        color: blue;
    }

}