@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
:root {
  --color-primary: #499da7;
  --color-darker: #006973;
  --color-primary-alt: #6f6ffd;
  --color-darker: #006973;
  --color-secondary: #d42257;
  --color-darker: #006973;
  --color-background: #fff;
  --color-darker: #006973;
  --color-text: #446164;
  --color-darker: #006973;
  --color-light: #fff;
  --color-darker: #006973;
  --color-anchor: #499da7;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem default;
  --border-radius: 8px;
}

article .container {
  max-width: 90ch;
  margin: 0 auto;
  padding: 8px;
}

body {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 4vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}

article .container * + h2 {
  margin-top: 4rem;
}

article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  text-decoration: none;
  color: var(--color-anchor);
  cursor: pointer;
}

::-moz-selection {
  color: #fff;
  background: var(--color-darker);
}

::selection {
  color: #fff;
  background: var(--color-darker);
}

@media only screen and (min-width: 681px) {
  #about li {
    font-size: 1rem !important;
  }
}

main {
  padding-bottom: 5vh;
}

header {
  background-color: #499da7;
  padding: 1px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .container {
  margin: 0 auto;
  max-width: 80ch;
  background-color: #499da7;
}

header .container .link-github {
  padding: 1em;
  color: white;
  background-color: #006973;
}

header .container p:nth-of-type(1) {
  margin-bottom: 2em;
}

header h1 {
  color: var(--color-background);
  text-transform: uppercase;
  line-height: 0.6;
  font-weight: bold;
  text-align: center;
}

header h2 {
  color: #01545c;
}

header a {
  color: #01454b;
}

nav {
  background-color: var(--color-darker);
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  opacity: 0.7;
}

#about ul {
  --gap: 1em;
  -webkit-columns: 4em 3;
          columns: 4em 3;
  list-style: none;
  gap: var(--gap);
  margin: 1rem 0 1.1rem;
  padding: 0px;
}

#about li {
  border: 1px solid;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: .5em;
  border-radius: 8px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
}

/* #about li:hover {
    color: #ffffff;
    //background-color: #000000;
    background-color: #006973;
} */
#about section:nth-child(2) p:nth-child(3) {
  color: #02484e;
  text-align: center;
  font-size: 1.4rem;
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
}

.profile .container {
  text-align: center;
}

.profile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.profile li {
  padding: 0.45em;
}

.profile li span:nth-child(1) {
  font-weight: bold;
}

.profile a:nth-child(3) {
  padding: .4em 0.75em;
  border: 1px solid #499da7;
}

footer#files {
  text-align: center;
}

footer#files .container {
  border: 4px dotted #006973;
  max-width: 60ch;
}

footer#files .container a:not(:last-child) {
  margin: 1px;
  color: red;
}

footer#files .link-codepen {
  display: block;
  margin-top: 1em;
}

footer#files [class^=link]:not(.link-codepen) {
  background-color: purple;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-github svg {
  display: none;
}

.skip-link:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*# sourceMappingURL=style.css.map */