@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
:root {
  --color-primary: #499da7;
  --color-darker: #006973;
  --color-primary-alt: #6f6ffd;
  --color-darker: #006973;
  --color-secondary: #d42257;
  --color-darker: #006973;
  --color-background: #fff;
  --color-darker: #006973;
  --color-text: #446164;
  --color-darker: #006973;
  --color-light: #fff;
  --color-darker: #006973;
  --color-anchor: #499da7;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem default;
  --border-radius: 8px;
}

article .container {
  max-width: 90ch;
  margin: 0 auto;
  padding: 8px;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 4vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  align-self: center;
  color: #000000;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  text-decoration: none;
  color: var(--color-anchor);
  cursor: pointer;
}

::selection {
  color: #fff;
  background: var(--color-darker);
}

@media only screen and (min-width: 681px) {
  #about li {
    font-size: 1rem !important;
  }
}
main {
  padding-bottom: 5vh;
}

header {
  background-color: #499da7;
  padding: 1px;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
header .container {
  margin: 0 auto;
  max-width: 80ch;
  background-color: #499da7;
}
header .container .link-github {
  padding: 1em;
  color: white;
  background-color: #006973;
}
header .container p:nth-of-type(1) {
  margin-bottom: 2em;
}
header h1 {
  color: var(--color-background);
  text-transform: uppercase;
  line-height: 0.6;
  font-weight: bold;
  text-align: center;
}
header h2 {
  color: #01545c;
}
header a {
  color: #01454b;
}

nav {
  background-color: var(--color-darker);
  padding: 1em;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-evenly;
  list-style: none;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover,
nav a:focus {
  opacity: 0.7;
}

#about ul {
  --gap: 1em;
  columns: 4em 3;
  list-style: none;
  gap: var(--gap);
  margin: 1rem 0 1.1rem;
  padding: 0px;
}

#about li {
  border: 1px solid;
  align-self: start;
  padding: 0.5em;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  color: #02484e;
}

/* #about li:hover {
    color: #ffffff;
    //background-color: #000000;
    background-color: #006973;
} */
#about section:nth-child(2) p:nth-child(3) {
  color: #02484e;
  text-align: center;
  font-size: 1.4rem;
}

aside#styles {
  text-align: center;
  margin: 1em;
  padding-top: 1px;
  padding-bottom: 13px;
}
aside#styles h2 {
  margin-bottom: 0;
}
aside#styles .features {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0.2em;
}
aside#styles li {
  padding: 13px;
}
aside#styles li span {
  display: block;
  margin-top: 0.8em;
  color: #36454f;
}
aside#styles li a {
  display: inline-flex;
  padding: 8px;
  border: 1px solid;
}
aside#styles .container .link-allstyles {
  color: blue;
}
@media only screen and (max-width: 375px) {
  aside#styles .features {
    flex-direction: column;
  }
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 9vh;
}
.profile .container {
  text-align: center;
}
.profile .container h4#profile-title {
  color: #02484e;
}
.profile ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}
.profile li {
  padding: 0.45em;
}
.profile li span:nth-child(1) {
  font-weight: bold;
  color: #36454f;
}
.profile a:nth-child(3) {
  color: blue;
}

footer#files {
  text-align: center;
  margin: 1.1em;
}
footer#files .container {
  border: 4px dotted #006973;
  max-width: 60ch;
}
footer#files .container a:not(:last-child) {
  margin: 1px;
  color: #499da7;
  border: 1px solid;
}
footer#files .link-codepen {
  display: block;
  margin-top: 1em;
  color: blue;
}
footer#files [class^=link]:not(.link-codepen) {
  background-color: #ffffff;
  display: inline-flex;
  min-height: 2em;
  align-items: center;
  padding: 6px;
}

footer.page-footer {
  padding: 3em 1em;
  background-color: #006973;
  color: #ffffff;
}
footer.page-footer .container {
  width: 100%;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}
footer.page-footer .container a {
  color: #ffffff;
  text-decoration: underline;
}
footer.page-footer .container p {
  text-align: center;
}
footer.page-footer .container p:first-child {
  font-weight: bold;
}
footer.page-footer .container p:nth-last-child(1) {
  color: var(--color-anchor);
}
footer.page-footer .container ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
footer.page-footer .container ul li {
  padding: 2px;
  margin-left: 12px;
}

.link-github svg {
  display: none;
}

.skip-link:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
